{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/prefer-stateless-function": 0,
    "prefer-destructuring": ["error", {"array": false}],
    "no-await-in-loop": 0,
    "no-restricted-syntax": ["error", "ForInStatement"],
    "no-console": 0,
    "react/jsx-wrap-multilines": 0,
    "operator-linebreak": ["error", "after", {
      "overrides": {"?": "ignore", ":": "before", "&&": "after"}
    }],
    "react/jsx-filename-extension": [0],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "semi": "off",
    "@typescript-eslint/semi": ["error"],
    "@typescript-eslint/no-explicit-any": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
