* {
  margin: 0;
  padding: 0;
}

body, head {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  background: #EDEDED;
}

a {
  text-decoration: none;
  color: inherit;
}
