.grid-list {
  &__entity {
  width: 30%;
  display: inline-block;
  position: relative;
  margin: 3px;
  }

  &__img {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  &__body {
    color: white;
    background: rgba(black, .6);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 4px;
    position: absolute;
    text-align: center;
    bottom: 25px;
  }

  &__list-address {
    display: none;
  }

  &__list-price {
    background: orange;
    color: white;
    position: absolute;
    right: 10px;
    top: 0px;
  }
}

.scroll-list {
  &__entity {
  border-radius: 5px;
  background: white;
  margin: 20px 0px;
  position: relative;
  @media (min-width: 768px) and (max-width: 1024px) {
    flex: 45%;
    margin: 10px;
  }
  @media (min-width: 1025px) {
    flex: 30%;
    margin: 10px;
  }}

  &__img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &__body {
    padding: 15px;
    font-weight: bold;
  }

  &__stars {
    text-align: right;
  }

  &__price {
    padding: 10px;
  }

  &__list-address {
    font-size: 13px;
    color: gray;
  }

  &__list-price {
    background: orange;
    color: white;
    position: absolute;
    right: 10px;
    top: 0px;
  }
}
