.pagination-bar {
  margin: 10px;
  text-align: center;
}

.pagination-bar__page-number {
  margin: 0px 10px;
}

.pagination-bar__btn {
  width: 40%;
  border: none;
  border-radius: 5px;
  height: 50px;
  outline: none;

  &--enabled {
    @extend .pagination-bar__btn;
    background: white;
  }

  &--disabled {
    @extend .pagination-bar__btn;
    background: transparent;
  }
}
